@charset "utf-8";

@font-face {
	font-family: 'GoodDogRegular';
	src: url('../fonts/GoodDog.eot');
	src: local('☺'), url('../fonts/GoodDog.woff') format('woff'), url('../fonts/GoodDog.ttf') format('truetype'), url('../fonts/GoodDog.svg#GoodDog') format('svg');
}

.polaroid-gallery {
	clear: both;
	position: relative;
	margin: 40px !important;
	padding: 0 !important;
	visibility: hidden;
}
.polaroid-gallery a.polaroid-gallery-item {
	position: relative;
	display: block !important;
	float: left !important;
	padding: 10px !important;
	margin: 0 !important;
	border: 1px solid #fff !important;
	background: #eee !important;
	text-decoration: none !important;
	color: #000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.polaroid-gallery a.polaroid-gallery-item img {
	position: relative;
	display: block !important;
	margin: 0 0 5px 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
.polaroid-gallery a.polaroid-gallery-item span {
	position: relative;
	display: block !important;
	font-size: 22px !important;
	line-height: 26px !important;
	height: 26px !important; 
	padding: 0 5px !important;
	margin: 0 -5px !important;
	font-family: "GoodDogRegular", Georgia, serif;
	overflow: hidden;
	visibility: hidden;
}
.polaroid-gallery a.polaroid-gallery-item:hover span {
	visibility: visible !important;
	height: auto !important;
}
.polaroid-gallery a.showcaption span,
.polaroid-gallery a.showcaption:hover span {
	visibility: visible !important;
}
